# Pandas - Part 4: GroupBy, Merge, and Pivot

This notebook covers grouping, aggregation, merging, and reshaping data.

**Topics covered:**
- GroupBy operations
- Aggregation functions
- Merge and join
- Concatenation
- Pivot tables

**Problems:** 15 (Easy: 1-5, Medium: 6-10, Hard: 11-15)

In [ ]:
# ============================================
# SETUP - Run this cell first!
# ============================================
import pandas as pd
import numpy as np
import sys
sys.path.insert(0, '..')
from utils.checker import check

# Sample data
df = pd.DataFrame({
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
    'dept': ['IT', 'HR', 'IT', 'HR', 'IT', 'Sales'],
    'salary': [50000, 60000, 70000, 55000, 45000, 65000],
    'years': [2, 5, 8, 3, 1, 4]
})
print(df)
print("\nSetup complete!")

---
## Problem 1: Basic GroupBy
**Difficulty:** Easy

### Concept
`groupby()` groups rows by values in one or more columns, allowing you to perform aggregate operations on each group. This is fundamental for analyzing data by categories.

### Syntax
```python
df.groupby('column').agg_func()  # Group by column and aggregate
df.groupby('column')['col2'].mean()  # Group and get mean of specific column
```

### Example
```python
>>> df.groupby('dept')['salary'].mean()
dept
HR      57500.0
IT      55000.0
Sales   65000.0
```

### Task
Group `df` by 'dept' and get the mean salary for each department. Store in `dept_salary`.

### Expected Properties
- Should be a pandas Series
- Index should be department names
- HR mean salary should be 57500.0

In [ ]:
# Your solution:
dept_salary = None

In [ ]:
# Verification
check.is_type(dept_salary, pd.Series, "P1: Type check")
check.is_true(abs(dept_salary['HR'] - 57500.0) < 0.1, "P1: HR salary", "HR mean should be 57500")

---
## Problem 2: GroupBy Count
**Difficulty:** Easy

### Concept
The `count()` aggregation function returns the number of non-null values in each group. Alternatively, use `size()` to count all rows including nulls.

### Syntax
```python
df.groupby('column').size()       # Count all rows per group
df.groupby('column')['col'].count()  # Count non-null values
```

### Example
```python
>>> df.groupby('dept').size()
dept
HR       2
IT       3
Sales    1
```

### Task
Count the number of employees in each department. Store in `dept_count`.

### Expected Properties
- Should be a pandas Series
- IT should have 3 employees
- Sales should have 1 employee

In [ ]:
# Your solution:
dept_count = None

In [ ]:
# Verification
check.is_type(dept_count, pd.Series, "P2: Type check")
check.is_true(dept_count['IT'] == 3, "P2: IT count", "IT should have 3 employees")
check.is_true(dept_count['Sales'] == 1, "P2: Sales count", "Sales should have 1 employee")

---
## Problem 3: Concatenate DataFrames Vertically
**Difficulty:** Easy

### Concept
`concat()` combines multiple DataFrames. Vertical concatenation (axis=0) stacks DataFrames on top of each other, useful for combining data with the same structure.

### Syntax
```python
pd.concat([df1, df2])              # Vertical (default axis=0)
pd.concat([df1, df2], axis=0)      # Explicit vertical
pd.concat([df1, df2], ignore_index=True)  # Reset index
```

### Example
```python
>>> pd.concat([df1, df2])
# Combines rows from both DataFrames
```

### Task
Concatenate two DataFrames (`df1` and `df2`) vertically. Store in `concat_v`.

### Expected Properties
- Should be a pandas DataFrame
- Should have 4 rows (2 from each DataFrame)
- Should have columns ['A', 'B']

In [ ]:
# Setup
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'B': [7, 8]})

# Your solution:
concat_v = None

In [ ]:
# Verification
check.is_type(concat_v, pd.DataFrame, "P3: Type check")
check.has_length(concat_v, 4, "P3: Length")
check.has_columns(concat_v, ['A', 'B'], "P3: Columns")

---
## Problem 4: Concatenate DataFrames Horizontally
**Difficulty:** Easy

### Concept
Horizontal concatenation (axis=1) joins DataFrames side by side, adding columns. This is useful for combining different attributes of the same entities.

### Syntax
```python
pd.concat([df1, df2], axis=1)  # Horizontal
```

### Example
```python
>>> pd.concat([df1, df2], axis=1)
   A  B  C  D
0  1  3  5  7
1  2  4  6  8
```

### Task
Concatenate two DataFrames side by side (horizontally). Store in `concat_h`.

### Expected Properties
- Should be a pandas DataFrame
- Should have 4 columns total
- Columns should be ['A', 'B', 'C', 'D']

In [ ]:
# Setup
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'C': [5, 6], 'D': [7, 8]})

# Your solution:
concat_h = None

In [ ]:
# Verification
check.is_type(concat_h, pd.DataFrame, "P4: Type check")
check.is_true(len(concat_h.columns) == 4, "P4: Four columns", "Should have 4 columns")
check.has_columns(concat_h, ['A', 'B', 'C', 'D'], "P4: Columns")

---
## Problem 5: Basic Merge (Inner Join)
**Difficulty:** Easy

### Concept
`merge()` combines DataFrames based on common columns (like SQL joins). An inner join (default) keeps only rows with matching values in both DataFrames.

### Syntax
```python
pd.merge(df1, df2, on='column')           # Inner join on column
pd.merge(df1, df2, how='inner')           # Explicit inner
df1.merge(df2, on='column')               # Alternative syntax
```

### Example
```python
>>> pd.merge(employees, salaries, on='emp_id')
# Only employees with salary records
```

### Task
Merge two DataFrames on the 'emp_id' column (inner join). Store in `merged`.

### Expected Properties
- Should be a pandas DataFrame
- Should have 2 rows (only matching emp_ids: 1 and 2)
- Should contain 'salary' column

In [ ]:
# Setup
employees = pd.DataFrame({'emp_id': [1, 2, 3], 'name': ['Alice', 'Bob', 'Charlie']})
salaries = pd.DataFrame({'emp_id': [1, 2, 4], 'salary': [50000, 60000, 70000]})

# Your solution:
merged = None

In [ ]:
# Verification
check.is_type(merged, pd.DataFrame, "P5: Type check")
check.has_length(merged, 2, "P5: Length")
check.contains_column(merged, 'salary', "P5: Has salary column")

---
## Problem 6: GroupBy with Multiple Aggregations
**Difficulty:** Medium

### Concept
You can apply multiple aggregation functions at once using `agg()` with a list of function names. This provides comprehensive summaries of each group.

### Syntax
```python
df.groupby('column')['col2'].agg(['mean', 'sum', 'count'])
df.groupby('column').agg({'col1': 'mean', 'col2': 'sum'})
```

### Example
```python
>>> df.groupby('dept')['salary'].agg(['mean', 'sum'])
         mean     sum
dept                 
HR     57500  115000
IT     55000  165000
```

### Task
Group by 'dept' and calculate both mean and sum of salary. Store in `dept_agg`.

### Expected Properties
- Should be a pandas DataFrame
- Should have 2 columns (mean and sum)

In [ ]:
# Your solution:
dept_agg = None

In [ ]:
# Verification
check.is_type(dept_agg, pd.DataFrame, "P6: Type check")
check.is_true(len(dept_agg.columns) == 2, "P6: Two columns", "Should have 2 aggregation columns")

---
## Problem 7: Left Merge
**Difficulty:** Medium

### Concept
A left merge keeps all rows from the left DataFrame and matches rows from the right. Unmatched rows get NaN for right DataFrame columns.

### Syntax
```python
pd.merge(df1, df2, on='column', how='left')
```

### Example
```python
>>> pd.merge(employees, salaries, on='emp_id', how='left')
# All employees, salary=NaN if no match
```

### Task
Perform a left merge to keep all employees even if they don't have salary records. Store in `left_merged`.

### Expected Properties
- Should be a pandas DataFrame
- Should have 3 rows (all employees)
- Charlie should have NaN salary

In [ ]:
# Setup
employees = pd.DataFrame({'emp_id': [1, 2, 3], 'name': ['Alice', 'Bob', 'Charlie']})
salaries = pd.DataFrame({'emp_id': [1, 2, 4], 'salary': [50000, 60000, 70000]})

# Your solution:
left_merged = None

In [ ]:
# Verification
check.is_type(left_merged, pd.DataFrame, "P7: Type check")
check.has_length(left_merged, 3, "P7: Length")
check.is_true(pd.isna(left_merged[left_merged['name'] == 'Charlie']['salary'].iloc[0]), "P7: Charlie has NaN", "Charlie should have NaN salary")

---
## Problem 8: GroupBy Transform
**Difficulty:** Medium

### Concept
`transform()` applies a function to each group but returns a Series with the same shape as the original DataFrame. It's used to add group statistics to each row.

### Syntax
```python
df['new_col'] = df.groupby('column')['col2'].transform('mean')
```

### Example
```python
>>> df['dept_avg'] = df.groupby('dept')['salary'].transform('mean')
# Each row gets its department's average salary
```

### Task
Add a column 'dept_avg_salary' showing the department's average salary for each row. Store the result DataFrame in `df_with_avg`.

### Expected Properties
- Should be a pandas DataFrame
- Should contain 'dept_avg_salary' column
- Should have 6 rows (same as original)

In [ ]:
# Your solution:
df_with_avg = None

In [ ]:
# Verification
check.is_type(df_with_avg, pd.DataFrame, "P8: Type check")
check.contains_column(df_with_avg, 'dept_avg_salary', "P8: Has dept_avg_salary column")
check.has_length(df_with_avg, 6, "P8: Length")

---
## Problem 9: Value Counts
**Difficulty:** Medium

### Concept
`value_counts()` counts the frequency of each unique value in a Series. It's a quick way to understand the distribution of categorical data.

### Syntax
```python
df['column'].value_counts()           # Counts in descending order
df['column'].value_counts(normalize=True)  # As percentages
```

### Example
```python
>>> df['dept'].value_counts()
IT       3
HR       2
Sales    1
```

### Task
Count occurrences of each department. Store in `dept_counts`.

### Expected Properties
- Should be a pandas Series
- IT should have 3 occurrences

In [ ]:
# Your solution:
dept_counts = None

In [ ]:
# Verification
check.is_type(dept_counts, pd.Series, "P9: Type check")
check.is_true(dept_counts['IT'] == 3, "P9: IT count", "IT should have 3 occurrences")

---
## Problem 10: Simple Pivot Table
**Difficulty:** Medium

### Concept
Pivot tables reshape data by creating a matrix where rows and columns are defined by categorical variables, and cells contain aggregated values.

### Syntax
```python
df.pivot_table(values='value_col', index='row_col', aggfunc='mean')
df.pivot_table(values='value_col', index='row_col', columns='col_col')
```

### Example
```python
>>> df.pivot_table(values='salary', index='dept', aggfunc='mean')
         salary
dept           
HR      57500.0
IT      55000.0
```

### Task
Create a pivot table showing average salary by department. Store in `pivot`.

### Expected Properties
- Should be a pandas DataFrame
- IT salary should be approximately 55000

In [ ]:
# Your solution:
pivot = None

In [ ]:
# Verification
check.is_type(pivot, pd.DataFrame, "P10: Type check")
check.is_true(abs(pivot.loc['IT', 'salary'] - 55000.0) < 100, "P10: IT salary", "IT salary should be around 55000")

---
## Problem 11: GroupBy with Multiple Columns
**Difficulty:** Hard

### Concept
You can group by multiple columns to create hierarchical groups. This creates a multi-index Series or DataFrame showing nested aggregations.

### Syntax
```python
df.groupby(['col1', 'col2'])['col3'].mean()
```

### Example
```python
>>> df.groupby(['dept', 'experienced'])['salary'].mean()
dept   experienced
HR     False          60000
       True           55000
IT     False          47500
       True           70000
```

### Task
The setup creates an 'experienced' column. Group by both 'dept' and 'experienced' (years > 3), then get mean salary. Store in `grouped_multi`.

### Expected Properties
- Should be a pandas Series
- Should have multi-level index
- Should have at least 3 groups

In [ ]:
# Setup
df_exp = df.copy()
df_exp['experienced'] = df_exp['years'] > 3

# Your solution:
grouped_multi = None

In [ ]:
# Verification
check.is_type(grouped_multi, pd.Series, "P11: Type check")
check.is_true(len(grouped_multi) >= 3, "P11: Multiple groups", "Should have at least 3 groups")

---
## Problem 12: Outer Merge
**Difficulty:** Hard

### Concept
An outer (full) merge keeps all rows from both DataFrames, filling with NaN where there's no match. This is useful when you want to see all records from both sources.

### Syntax
```python
pd.merge(df1, df2, on='column', how='outer')
```

### Example
```python
>>> pd.merge(employees, salaries, on='emp_id', how='outer')
# All employees AND all salary records
```

### Task
Perform an outer merge to keep all records from both DataFrames. Store in `outer_merged`.

### Expected Properties
- Should be a pandas DataFrame
- Should have 4 rows (all unique emp_ids: 1, 2, 3, 4)

In [ ]:
# Setup
employees = pd.DataFrame({'emp_id': [1, 2, 3], 'name': ['Alice', 'Bob', 'Charlie']})
salaries = pd.DataFrame({'emp_id': [1, 2, 4], 'salary': [50000, 60000, 70000]})

# Your solution:
outer_merged = None

In [ ]:
# Verification
check.is_type(outer_merged, pd.DataFrame, "P12: Type check")
check.has_length(outer_merged, 4, "P12: Length")

---
## Problem 13: Crosstab
**Difficulty:** Hard

### Concept
`crosstab()` creates a frequency table showing counts of combinations between two or more categorical variables. It's like a pivot table specifically for counting.

### Syntax
```python
pd.crosstab(df['col1'], df['col2'])
pd.crosstab(df['col1'], df['col2'], values=df['col3'], aggfunc='mean')
```

### Example
```python
>>> pd.crosstab(df['dept'], df['experienced'])
experienced  False  True
dept                    
HR               1     1
IT               2     1
```

### Task
Create a cross-tabulation of department and experienced status. Store in `crosstab`.

### Expected Properties
- Should be a pandas DataFrame
- Total of all values should be 6 (total employees)

In [ ]:
# Setup
df_exp = df.copy()
df_exp['experienced'] = df_exp['years'] > 3

# Your solution:
crosstab = None

In [ ]:
# Verification
check.is_type(crosstab, pd.DataFrame, "P13: Type check")
check.is_true(crosstab.sum().sum() == 6, "P13: Total count", "Total should be 6")

---
## Problem 14: Melt (Unpivot)
**Difficulty:** Hard

### Concept
`melt()` transforms wide-format data to long-format, converting column names into a variable column and their values into a value column. This is the opposite of pivot.

### Syntax
```python
df.melt(id_vars=['id_col'], value_vars=['col1', 'col2'])
df.melt(id_vars=['id_col'], var_name='variable', value_name='value')
```

### Example
```python
>>> wide_df.melt(id_vars=['name'], value_vars=['Q1', 'Q2'])
    name variable  value
0  Alice       Q1    100
1    Bob       Q1    200
2  Alice       Q2    150
3    Bob       Q2    250
```

### Task
Convert wide format to long format by melting Q1, Q2, Q3 into 'quarter' and 'value' columns. Store in `melted`.

### Expected Properties
- Should be a pandas DataFrame
- Should have 6 rows (2 names Ã— 3 quarters)
- Should contain 'value' column

In [ ]:
# Setup
wide_df = pd.DataFrame({
    'name': ['Alice', 'Bob'],
    'Q1': [100, 200],
    'Q2': [150, 250],
    'Q3': [200, 300]
})

# Your solution:
melted = None

In [ ]:
# Verification
check.is_type(melted, pd.DataFrame, "P14: Type check")
check.has_length(melted, 6, "P14: Length")
check.contains_column(melted, 'value', "P14: Has value column")

---
## Problem 15: GroupBy Apply Custom Function
**Difficulty:** Hard

### Concept
`apply()` with groupby allows you to apply custom functions to each group. This is powerful for complex aggregations that aren't built-in.

### Syntax
```python
def custom_func(group):
    return group['col'].max() - group['col'].min()

df.groupby('column').apply(custom_func)
df.groupby('column')['col2'].apply(lambda x: x.max() - x.min())
```

### Example
```python
>>> df.groupby('dept')['salary'].apply(lambda x: x.max() - x.min())
dept
HR        5000
IT       25000
Sales        0
```

### Task
Apply a custom function to each group: return the range (max - min) of salary per department. Store in `salary_range`.

### Expected Properties
- Should be a pandas Series
- IT range should be 25000 (70000 - 45000)
- Sales range should be 0 (only one employee)

In [ ]:
# Your solution:
salary_range = None

In [ ]:
# Verification
check.is_type(salary_range, pd.Series, "P15: Type check")
check.is_true(salary_range['IT'] == 25000, "P15: IT range", "IT range should be 25000")
check.is_true(salary_range['Sales'] == 0, "P15: Sales range", "Sales range should be 0")

---
## Summary

Run this cell to see your overall progress on this notebook.

In [ ]:
check.summary()